// amazing-services

.amazing-services {
  &__separator {
    margin-bottom: 5.5rem;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;

    @media (max-width: 1024px) {
      gap: 1.5625rem;
    }

    @media (max-width: 768px) {
      gap: 2.25remrem;
      justify-content: center;
    }
  }

  &__col {
    display: flex;
    gap: 1.875rem;

    @media (max-width: 1024px) {
      gap: 1.5625rem;
    }

    @media (max-width: 768px) {
      gap: 1.25rem;

    }
  }

  &__profession {
    max-width: 16.875rem;

    @media (max-width: 1024px) {
      max-width: 229px;
    }
  }

  &__position {
    font-weight: 700;
    font-size: $font-size-md;
    text-transform: uppercase;
    color: $color-black;
    padding: 0.62rem 0;

    @media (max-width: 1024px) {
      font-size: $font-size-base;
    }
  }

  &__description {
    font-size: $font-size-base;
    color: $color-black;
    padding: 1.04rem 0;
    margin-bottom: 7.375rem;

    @media (max-width: 1024px) {
      font-size: $font-size-sm;
      margin-bottom: 3.625rem;
    }
  }

&__icon {
  @media (max-width: 1024px) {
    max-width: 59px;
    max-height: 59px;
  }

  @media (max-width: 768px) {
    max-width: 57px;
    max-height: 57px;
  }
}
}
