.clients {
  background: url(/src/images/clients/people.png);
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
  }

  &__content {
    position: relative;
  }

  &__separator {
    margin-bottom: 2.625rem;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 3.125rem;
    justify-content: space-between;
    position: relative;
    padding-bottom: 2.625rem;

    &-block {
      display: flex;
      gap: 3.125rem;
    }

    &-image {
      height: 50%;
    }

    &-col {
      display: flex;
      flex-direction: column;
      max-width: 370px;

      &_name {
        font-weight: 700;
        font-size: $font-size-md;
        text-transform: uppercase;
        color: $color-black;
        padding: 0.65rem 0;
      }

      &_profession {
        font-size: $font-size-sm;
        text-transform: uppercase;
        color: $color-black;
      }

      &_separator {
        max-width: 70px;
        border: 4px solid #F38281;
        margin: 2rem 0;
      }

      &_text {
        font-size: $font-size-sm;
        color: $color-black;
      }
    }
  }
}
