.design {
  background: url(/src/images/design/design.png);
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
  }

  &__content {
    position: relative;
  }

  &__separator {
    margin-bottom: 3.6875rem;
  }

  &__device {
    position: relative;
  }

  &__tablet-img {
    margin-bottom: 3.5625rem;
  }

  &__phone-img {
    z-index: 1;
    position: absolute;
    top: 13.1rem;
    right: 12.5rem;
  }
}
