.details-service {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 7.125rem;


  &__row {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    border: 1px solid #C6CBCD;
  }

  &__summary {
    display: flex;
    min-width: 570px;

    &_prof {
      font-weight: 700;
      font-size: $font-size-md;
      text-transform: uppercase;
      color: $color-black;
      display: flex;
      align-items: center;
      gap: 42px;
      padding: 0.857rem 0;
    }

    &_description {
      display: none;
      font-size: $font-size-sm;
      color: $color-black;
      padding-left: 1.375rem;
      border-top: 1px solid #C6CBCD;
    }

    &_description-active {
      display: block;
    }
  }
}

.details-service__summary_prof::after {
  content: url(/src/images/details-service/arrow_up.svg);
  padding-top: 14px;
display: flex;
justify-content: space-between;
}

.details-service__summary[open]>.details-service__summary_prof::after {
  content: url(/src/images/details-service/arrow_down.svg);

}



.details-service-icon {
  color: #95E1D3;
  margin-left: 20px;
  display: flex;
}
