.do {
  &__content {
    @include flex-box;
  }

  &__footer {
    background: #F8F8F8;

    &_content {
      display: flex;
      gap: 1.875rem;
      position: relative;
      top: 0;
      left: 0;
      animation: animation 10s ease-in-out 5;

      @keyframes animation {
        0% {
          transform: translate3d(0px, 0px, 0);
        }

        99% {
          transform: translate3d(99%, 0px, 0);
        }

        100% {
          transform: translate3d(100%, 0px, 0);
        }
      }
    }

    &_icon {
      margin: 2.625rem 0 2.625rem 0;
    }

    &_com {
      display: flex;
      flex-direction: column;
      gap: 1.3125rem;
      margin: 2.625rem 0 2.625rem 0;
    }

    &_wrap {
      display: flex;
      gap: 3.5rem;
      align-items: center;
    }

    &_separator {
      height: 4px;
    }

    &_icons {
      color: #C6CBCD;
    }
  }
}
