// footer-articles

.footer-articles {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  @media (max-width: 1024px) {
    gap: 1rem;
  }

  &__list {
    display: flex;
    gap: 1.875rem;

    @media (max-width: 1024px) {
      gap: 1.25rem;
    }
  }

  &__list:hover {
    transform: scale(1.1, 1.1);
  }

  &__title {
    font-weight: 700;
    font-size: $font-size-base;
    text-transform: uppercase;
    color: $color-black;
    max-width: 270px;

    @media (max-width: 1024px) {
      font-size: $font-size-sm;
    }
  }

  &__date {
    font-size: $font-size-xs;
    color: $color-black;
    padding: 0.566rem 0;

    @media (max-width: 1024px) {
      font-size: 0.75rem;
    }
  }

  &__image {
    @media (max-width: 1024px) {
      max-width: 115px;
      max-height: 71px;
    }
  }
}
