.footer-articles {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  &__list {
    display: flex;
    gap: 1.875rem;
  }

  &__list:hover {
    transform: scale(1.1, 1.1);
  }

  &__title {
    font-weight: 700;
    font-size: $font-size-sm;
    text-transform: uppercase;
    color: $color-black;
    max-width: 270px;
  }

  &__date {
    font-size: 0.8125rem;
    color: $color-black;
    padding: 0.566rem 0;
  }
}
