// footer

.footer {
  background: #F8F8F8;

  &__logo {
    @media (max-width: 1024px) {
      max-height: 68px;
      max-width: 182px;
    }

    @media (max-width: 768px) {
      position: relative;
      left: 6rem;
    }
  }

  &__row {
    display: flex;
    gap: 1.875rem;
    padding: 2.625rem 0;

    @media (max-width: 1024px) {
      padding: 1.75rem 0;
      gap: 1.25rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__text {
    font-size: $font-size-base;
    color: #C6CBCD;
    max-width: 370px;
    padding: 0.719rem 0;

    @media (max-width: 1024px) {
      font-size: $font-size-sm;
      max-width: 317px;
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__subscribers {
    font-weight: 700;
    font-size: $font-size-base;
    color: $color-black;
    padding: 1.038rem 0;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      font-size: $font-size-sm;
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__subscribers span {
    font-style: italic;
    font-weight: 400;
  }

  &__title {
    font-weight: 700;
    font-size: $font-size-md;
    text-transform: uppercase;
    color: $color-black;
    padding: 2rem 0;

    @media (max-width: 1024px) {
      font-size: $font-size-base;
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__copyright {
    font-weight: 700;
    font-size: $font-size-xs;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: $color-black;
    padding: 1.035rem 0;
    border-top: 1px solid #C6CBCD;

    @media (max-width: 1024px) {
      font-size: $font-size-xs;
    }
  }
}
