// footer-instagram

.footer-instagram {
  &__images {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas:
      "image-1 image-2 image-3"
      "image-4 image-5 image-6"
      "image-7 image-8 image-9";
  }

  &__image_1 {
    grid-area: image-1;
  }

  &__image_2 {
    grid-area: image-2;
  }

  &__image_3 {
    grid-area: image-3;
  }

  &__image_4 {
    grid-area: image-4;
  }

  &__image_5 {
    grid-area: image-5;
  }

  &__image_6 {
    grid-area: image-6;
  }

  &__image_7 {
    grid-area: image-7;
  }

  &__image_8 {
    grid-area: image-8;
  }

  &__image_9 {
    grid-area: image-9;
  }

  &__images:hover {
    transform: scale(1.1, 1.1);
  }

  &__text {
    font-size: $font-size-xs;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: $color-black;
    padding: 2.285rem 0;

    @media (max-width: 1024px) {
      font-size: 0.75rem;
      padding: 0.825rem 0;
    }

    @media (max-width: 624px) {
      text-align: center;
    }
  }
}
