// footer-media

.footer-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.3125rem;

  &__text {
    font-style: italic;
    font-size: $font-size-xs;
    color: #C6CBCD;
    margin-right: 1.875rem;

    @media (max-width: 1024px) {
      font-size: 0.75rem;
      margin-right: 1.25rem;
    }
  }

  &__link:hover {
    transform: scale(1.3, 1.3);
  }

  &__icon {
    color: #95E1D3;
  }

  &__icon:active {
    color: black;
  }
}
