.futures {
  background: #95E1D3;

  &__inner {
    @include flex-box;
    flex-direction: row;
  }

  &__item {
    font-weight: 700;
    font-size: 4rem;
    color: $color-white;
    display: flex;
    flex-direction: column;
    padding: 4.482rem 3.83rem;
    border-left: 1px solid $color-white;
    border-right: 1px solid $color-white;
  }

  &__item span {
    font-weight: 400;
    font-size: $font-size-sm;
  }
}
