// header-wrap

.header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;

  @media (max-width: 1024px) {
    gap: 1.25rem;
  }

  @media (max-width: 768px) {
    overflow-x: scroll;
    gap: 1rem;
    text-align: center;
  }

  @media (max-width: 624px) {
    justify-content: flex-start;
  }

  &__link {
    border-top: 4px solid $color-white;
    font-weight: 700;
    font-size: $font-size-xl;
    text-transform: uppercase;
    color: $color-white;
    padding: 1.07rem 0;

    @media (max-width: 1024px) {
      font-size: $font-size-md;
      padding: 0.713rem 0;
    }

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  &__link:hover {
    border-color: #F38281;
  }

  &__link span {
    font-weight: 500;
    font-size: $font-size-base;

    @media (max-width: 1024px) {
      font-size: $font-size-sm;
    }
  }
}
