// Variables color
$color-white: #FFFFFF;
$color-black: #2D3033;

// Variables size
$font-size-xxxl: 9rem; //96px
$font-size-xxl: 4rem; //64px
$font-size-xl: 2.25rem; //36px
$font-size-lg: 1.875rem; //30px
$font-size-md: 1.5rem; //24px
$font-size-base: 1.125rem; //18px
$font-size-sm: 0.875rem; //14px
$font-size-xs: 0.8125rem; //13px









