// Variables
$color-white: #FFFFFF;
$color-black: #2D3033;
$font-size-sm: 1.125rem; //18px
$font-size-md: 1.5rem; //24px


// Сброс стилей
@import "./normalize";
@import "./reset";

// Base
@import "./scaffold";
@import "./mixins";

// Components
@import "./header";
@import "./about";
@import "./services";
@import "./design";
@import "./do";
@import "./team";
@import "./work";
@import "./clients";
@import "./blog";
@import "./footer";

@import "./swiper";
